body {
    text-align: center;
}

h2 {
    text-align: center;
    z-index: 1;
    position: relative;
    color: aliceblue;
}

div.row, div.leadForm {
    position: relative;
    z-index: 1;
}

p, label, label.form-label {
    color: aliceblue;
}


svg {
    position: absolute;
    top: 0;
    left: 0;
width: 100%;
height: 100%;
    box-sizing: border-box;
    display: block;
    background-color: #0e4166;
background-image: linear-gradient(to bottom, rgba(14, 65, 102, 0.86), #0e4166);
}